.page.theme_light {
  --accent-color-transparent: rgba(53, 52, 48, 0.4);
  --accent-color: #353430;
  --title-color: #ffc2e6;
  --text-color: #353430;
  --accent-text-color: #353430;
  --accent-bg-color: #ff8dcb;
  --bg-image: url('../images/cover-image-light.png');
  --rec-display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color-transparent: rgba(53, 52, 48, 0.4);
    --accent-color: #353430;
    --title-color: #ffc2e6;
    --text-color: #353430;
    --accent-text-color: #353430;
    --accent-bg-color: #ff8dcb;
    --bg-image: url('../images/cover-image-light.png');
    --rec-display: none;
  }
}
