.page {
  color: var(--text-color);
  font-family: 'IBM Plex mono', Courier, monospace;
  font-size: 18px;
  line-height: 1.3;
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.decorated-zone {
  position: relative;
  padding: 10px;
  min-block-size: 668px;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  -webkit-border-start: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
  -webkit-border-after: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  block-size: 25px;
  inline-size: 25px;
  inset-block-end: 10px;
  inset-inline-start: 10px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  -webkit-border-end: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
  -webkit-border-before: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  block-size: 25px;
  inline-size: 25px;
  inset-block-start: 10px;
  inset-inline-end: 10px;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto 1fr;
  block-size: 100vb;
}

.header__theme-menu {
  display: flex;
  justify-self: flex-end;
  justify-content: flex-end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-item {
  min-inline-size: 70px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  -webkit-padding-after: 3px;
  padding-block-end: 3px;
  color: var(--accent-color);
  line-height: 1;
  text-transform: lowercase;
  background-color: inherit;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  inline-size: 100%;
  min-block-size: 26px;
}

.header__theme-menu-button:not(.header__theme-menu-button_active):hover {
  border: 1px solid var(--accent-color-transparent);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  -webkit-border-after: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  outline: none;
}

.title {
  color: var(--title-color, #db00ff);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.835;
  text-shadow: 4px 4px 0px var(--shadow-color);
}

.header__text {
  justify-self: end;
  align-self: center;
  inline-size: max(calc(50% - 6px), 355px);
  max-inline-size: 491px;
}

.title-decor {
  color: var(--accent-text-color);
  font-family: 'IBM Plex mono', Courier, monospace;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 1.31;
  background-color: var(--accent-bg-color);
}

.header__rec-lamp {
  display: var(--rec-display);
}

.header__rec-lamp::before {
  content: 'REC';
  position: absolute;
  color: var(--accent-color);
  line-height: 1.39;
  inset-block-start: 10px;
  inset-inline-end: 38px;
}

.header__rec-lamp::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background: var(--accent-color);
  block-size: 9px;
  inline-size: 9px;
  inset-block-start: 18px;
  inset-inline-end: 19px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px 10px;
}

.section__title {
  -webkit-padding-after: 20px;
  padding-block-end: 20px;
  color: var(--accent-color);
  font-size: 18px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
}

.card__title {
  -webkit-margin-after: 10px;
  margin-block-end: 10px;
}

.card__title_regular {
  font-weight: 400;
}

.card__link {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-bg-color);
}

.card__link:hover {
  -webkit-border-after: 1px solid var(--text-color);
  border-block-end: 1px solid var(--text-color);
}

.card__link:focus {
  outline: none;
}

.card__link:focus-visible {
  outline: 1px solid var(--text-color);
}

.advices__title {
  -webkit-margin-after: 18px;
  margin-block-end: 18px;
}

.pictures-container {
  display: grid;
  grid-template-rows: repeat(5, auto);
  row-gap: 10px;
  inline-size: 100%;
}

.pictures-section__title {
  -webkit-margin-after: 10px;
  margin-block-end: 10px;
}

.picture {
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100vb;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--shadow-color);
}

@media (width >= 768px) {
  .decorated-zone {
    padding: 20px 20px 20px 10px;
  }

  .decorated-zone::before {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .decorated-zone::after {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .title {
    position: relative;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    inset-inline-start: -10px;
  }

  .header__rec-lamp::before {
    inset-block-start: 20px;
    inset-inline-end: 48px;
  }

  .header__rec-lamp::after {
    inset-block-start: 28px;
    inset-inline-end: 29px;
  }

  .content {
    gap: 80px;
    padding: 60px 20px 20px 20px;
  }

  .section-two-columns {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-flow: row;
    row-gap: 80px;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }

  .section-three-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      'section__title . .'
      'cards cards cards';
    -moz-column-gap: 20px;
    column-gap: 20px;
  }

  .section-three-columns__title {
    grid-area: section__title;
  }

  .section-three-columns__cards {
    grid-area: cards;
  }

  .pictures-section__title {
    -webkit-margin-after: 20px;
    margin-block-end: 20px;
  }

  .pictures-container {
    grid-template-areas:
      'sunset sunset ice-cream'
      'tape books ice-cream'
      'tape street street';
    gap: 20px;
  }

  .sunset-item {
    grid-area: sunset;
  }

  .street-item {
    grid-area: street;
  }

  .ice-cream-item {
    grid-area: ice-cream;
  }

  .tape-item {
    grid-area: tape;
  }

  .books-item {
    grid-area: books;
  }

  .footer {
    -webkit-padding-start: 40px;
    padding-inline-start: 40px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    -webkit-padding-start: 10px;
    padding-inline-start: 10px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .content {
    padding: 60px 20px 20px 20px;
  }

  .section-two-columns {
    -moz-column-gap: 10px;
    column-gap: 10px;
  }

  .section-two-columns__title {
    -webkit-padding-end: 10px;
    padding-inline-end: 10px;
  }

  .section-three-columns__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
}
