:root {
  --accent-color-transparent: rgb(255, 0, 112, 0.4);
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --accent-text-color: #000028;
  --accent-bg-color: var(--accent-color, #ff0070);
}
